* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    background-color: rgb(237, 255, 255);
    padding: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    position: sticky;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}

#heading {
    font-size: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-left: 18px;
    margin-left: 5px;
}

ul {
    list-style: none;
    display: flex;
    gap: 45px;
}

li {
    font-size: 15px;
    font-weight: 500;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

a {
    text-decoration: none;
    color: rgb(49, 45, 45);
    position: relative;
    transition: all 0.4s;
}

a:hover,
.about {
    color: rgb(23, 149, 151);
}

.about::after,
a::after {
    content: "";
    position: absolute;
    background: rgb(23, 149, 151);
    height: 2px;
    width: 0%;
    left: 0;
    bottom: -2px;
    opacity: 0;
    transition: all 0.4s;
}

a:hover::after {
    opacity: 1;
    width: 65%;
}

img.shop {
    width: 20px;
}
